{% extends 'base.html' %}

{% block content %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--<title>CUA Post Buddy</title>-->

<!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="# target="_blank">Sign in</a>  <!--Go to sign in Page-->
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#callout">Quick start</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Post Buddy</h1>
      <h3 class="mb-5">
        <em>Make your time efficiency</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>A smart sticky note you'd even seen</h2>
          <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h2 class="mb-5">What We Offer</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-note"></i>
          </span>
          <h4>
            <strong>Noting stuff</strong>
          </h4>
          <p class="text-faded mb-0">Note</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-envelope-open"></i>
          </span>
          <h4>
            <strong>Email remind</strong>
          </h4>
          <p class="text-faded mb-0">Remind you through your email</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-share"></i>
          </span>
          <h4>
            <strong>Sharing schedule</strong>
          </h4>
          <p class="text-faded mb-0">share</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout" id="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>your</em>
        Post Buddy</h2>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#start">Quick start</a>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white" id="start">
    <div class="container text-center">
      <h2 class="mb-4">Let's Post Buddy be a part of <em>your</em> life</h2>
      <a href="#" target="_blank" class="btn btn-xl btn-light mr-4">Sign in</a> <!--Go to sign in Page-->
      <a href="#" target="_blank" class="btn btn-xl btn-dark">Sign up</a> <!--Go to sign up Page-->
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center" id="contact">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/js/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/stylish-portfolio.min.js"></script>
{% endblock %}